        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image:url('https://raw.githubusercontent.com/Secure-mcpc/sec/main/%E5%A2%99%E7%BA%B8.jpg');/*背景图*/
        }
        header {
	    background-color: #FF9933;
            background-image:url('jx.png');
	    background-repeat:no-repeat;
            padding: 10px;
            text-align: center;
        }
        nav {
            background-color: #FF6633;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 0.125px 2.5px;
        }
        nav a:hover {
            background-color: #FF6633;
        }
        main {
            padding: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        footer {
            background-color: #FF9933;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
	a.download:hover{
		background-color:red;
		color:yellow;
	}
	a.download{
		color:blue;
	}
	#ul1{
		 list-style-type: none;
	}
